<h1>Edit Phoneme Page</h1>
<ol>
{{#each words}}
<li>
	<label>Word:</label>
	<input name="word" type="text" value="{{word}}" style='width:340px;' />
	<br />
	<label>Phonemes (one per line):</label>
	<br />
	<textarea style='width:340px;height:100px;'>{{#each phonemes}}{{this}}
{{/each}}</textarea>	
	<br />
	<label>Number of Sounds:</label>
	<input name="number-of-sounds" type="text" value="{{number-of-sounds}}" style='width:340px;' />
	<br />
	<a href="#" data-role='button' class="removePhoneme">Remove Phoneme</a>
</li>
{{/each}}
</ol>
<a href="#" data-role="button">Add</a>
<a href="#subtest-list" data-role="button">Save</a>

<script type="text/javascript">
	/**
	 * Remove button functionality
	 *  TODO: figure out why this will not work from the InterviewEditView.js file
	 */
	$(function(){
		$(".removePhoneme").live("click", function(e){
			//var answer = confirm("Delete question? (" + )");
			var answer = confirm( "Are you sure you want to delete Phoneme: '" + $(this).siblings("input").val().substring(0,20) + "'" );
			if( answer )
				$(this).closest("li").remove();
		});
	});
</script>
