<h1>Edit Student Information Page</h1>
<ol>
{{#each radioButtons}}
<li>
	<label>Question:</label>
	<input name="label" type="text" value="{{label}}" style='width:340px;' />
	<br />
	<label>Answers (one per line):</label>
	<br />
	<textarea style='width:340px;height:100px;'>{{#each options}}{{this}}
{{/each}}</textarea>	
	<br />
	<a href="#" data-role="button" class="removeRadio">Remove Question</a>
</li>
{{/each}}
</ol>
<br />

<a href="#" data-role="button">Add Question</a>
<a href="#subtest-list" data-role="button">Save</a>

<script type="text/javascript">
	/**
	 * Remove button functionality
	 */
	$(function(){
		$(".removeRadio").live("click", function(e){
			//var answer = confirm("Delete question? (" + )");
			var answer = confirm( "Are you sure you want to delete question: '" + $(this).siblings("input").val().substring(0,20) + "'" );
			if( answer )
				$(this).closest("li").remove();
		});
	});
</script>
